*{
    margin: 0;
    padding: 0;  
}
.hero
{
    background-color: gray;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.hero img {
    width: 20px;
}
.img img
{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.h1{
    text-align:center; 
    color: black;
    align-items: center;
    text-align: center;
}
.All
{
    width: 50%;
    height: 850px;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 5px;
    padding: 10px;
}
.contact-me
{
    padding-left: 5px;
    height:100px;  
    margin-bottom: 20px; 
}
.contact-me a
{ 
    padding: 10px;
    margin: 15px;
    height: 30px;
    width: 200px;
    background-color: blue;
    border-radius: 5px;
    font-size: 15px;
}
.contact-me a img{
    width:10px
}
.contact-me .contan{
    display: flex;
    text-align: center;
    border-bottom: 1px solid gray;  
}
.contact-me a{
    text-decoration: none;
    color: black;
}
.Follow-me
{
    margin-top: 10px;
    padding: 10px;
    height:50px; 
    border-bottom: 1px solid gray; 
}
.Follow-me .follow a{
    text-decoration: none;
    
}
.Follow-me .follow a img{
    margin:  5px;
    padding: 5px; 
    width: 15px; 
}
.experience
{
    padding-left: 5px;
    height:100px;      
}
.experience .exper, .education .educat, .programming .program, .Interests .inters{
    display: flex;  
    margin-top: 10px;
}
.experience .exper img, .education .educat img, .programming .program img, .Interests .inters img{
    width: 15px;
}
.experience .contaner
{
    display: flex;
    text-align: center;
    border-bottom: 1px solid gray;
    justify-content: center;
}
.experience p, .programming p, .Interests p, .education p
{
    padding: 10px;
    margin: 10px;
    height: 30px;
    width: 100px;
    background-color: blue;
    border-radius: 5px;
}
.education
{
    margin-top: 10px;
    padding: 10px;
    height:100px;   
}
.education .contane{
    display: flex;
    text-align: center;
    border-bottom: 1px solid gray;
    justify-content: center;
}
.programming 
{
    margin-top: 10px;
    padding: 10px;
    height:150px;    
}
.programming .cont{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid gray;
}
.Interests 
{
    margin-top: 20px;
    padding: 20px;
    height:100px;   
}
.Interests .inter{
    display: flex;
    text-align: center;
    margin: 15px;
    justify-content: center;
    flex-wrap: wrap;
}



  
  